@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

body {
    --theme-background: #F2F6FF;
    --theme-foreground: #222222;
    --theme-accent-background: #8AABFF;
    --theme-accent-background-hover: #608dff;
    --theme-accent-foreground: #ffffff;
    --theme-accent-hover-green:#008000;
    
}

body.theme-dark {
    --theme-background: #222222;
    --theme-foreground: #eeeeee;
    --theme-accent-background: #1b5bfc;
    --theme-accent-background-hover: #0048fd;
    --theme-accent-foreground: #222222;
    --theme-accent-hover-green:#008000;
}

/* Aqui começa o CSS padrão */
body {
    background: var(--theme-background);
    color: var(--theme-foreground);
    font-family:  'Nunito', Avenir, sans-serif;
    
}

button {
    border: var(--theme-accent-background-hover) !important;
    background: var(--theme-accent-background) !important;
}
button:hover {
    background: var(--theme-accent-background-hover) !important;
}

